## Exercise 1.1

Merging datasets is a well known disciplin in Data-science. This is done by joining rows using a common key

- Join the 3 data sets together
- Keep only flight data to and from Texas
- How can we optimise these two steps

![](https://www.eturbonews.com/wp-content/uploads/2018/03/0a1a1a-13.jpg)

In [4]:
library(readr)
suppressMessages(library(dplyr))
load("../data/flights.rdata")
airlines <- read_csv("../data/airlines.csv", col_types = cols())
airports <- read_csv("../data/airports.csv", col_types = cols())

Warning message:
“2 parsing failures.
 row     col           expected actual                   file
1252 airport delimiter or quote      B '../data/airports.csv'
1252 airport delimiter or quote        '../data/airports.csv'
”

In [5]:
airlines %>% head

  IATA_CODE AIRLINE
1 UA        United Air Lines Inc.
2 AA        American Airlines Inc.
3 US        US Airways Inc.
4 F9        Frontier Airlines Inc.
5 B6        JetBlue Airways
6 OO        Skywest Airlines Inc.

In [7]:
airports %>% head

  iata airport              city             state country lat      long
1 00M  Thigpen              Bay Springs      MS    USA     31.95376  -89.23450
2 00R  Livingston Municipal Livingston       TX    USA     30.68586  -95.01793
3 00V  Meadow Lake          Colorado Springs CO    USA     38.94575 -104.56989
4 01G  Perry-Warsaw         Perry            NY    USA     42.74135  -78.05208
5 01J  Hilliard Airpark     Hilliard         FL    USA     30.68801  -81.90594
6 01M  Tishomingo County    Belmont          MS    USA     34.49167  -88.20111

In [11]:
flights %>% head(2)

  YEAR MONTH DAY DAY_OF_WEEK AIRLINE FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT
1 2015 1     1   4           AS        98          N407AS      ANC
2 2015 1     1   4           AA      2336          N3KUAA      LAX
  DESTINATION_AIRPORT SCHEDULED_DEPARTURE ⋯ ARRIVAL_TIME ARRIVAL_DELAY DIVERTED
1 SEA                 0005                ⋯ 0408         -22           0
2 PBI                 0010                ⋯ 0741          -9           0
  CANCELLED CANCELLATION_REASON AIR_SYSTEM_DELAY SECURITY_DELAY AIRLINE_DELAY
1 0         NA                  NA               NA             NA
2 0         NA                  NA               NA             NA
  LATE_AIRCRAFT_DELAY WEATHER_DELAY
1 NA                  NA
2 NA                  NA