# Exercise 2.1

PAru står for 13% af den samlede avocado produktion, og de har hyret dig til at redegøre for prisudbviklingen i to af deres større afsætnings områder på den amerikanske øst-kyst, nemlig Boston og Albany.  

![](https://cdn.winsightmedia.com/platform/files/public/gb/June-2012/Peruvian-Avocados-Return-to-the-United-States/PAC-Billboard.jpg)

Anvend argumenter i plotly så prisen-udviklingen over tid har de faktorer, som redegør for pris-udsving for samme dato.   

- Plot prisen på avocadoer over tid for de to stater
- overvej håndtering af avocado typen i.e. "conventional" and "organic"
- argumenterne `symbol` og `color` kan bruges

In [6]:
library(readr)
suppressMessages(library(dplyr))
avocados <- read_csv("../data/avocado.csv", col_types = cols())[,-1] %>%
  filter(region == "Boston" | region == "Albany")

avocados %>% head(6)

  Date       AveragePrice total_volume 4046    4225      4770   Total Bags
1 2015-12-27 1.33          64236.62    1036.74  54454.85  48.16 8696.87
2 2015-12-20 1.35          54876.98     674.28  44638.81  58.33 9505.56
3 2015-12-13 0.93         118220.22     794.70 109149.67 130.50 8145.35
4 2015-12-06 1.08          78992.15    1132.00  71976.41  72.58 5811.16
5 2015-11-29 1.28          51039.60     941.48  43838.39  75.78 6183.95
6 2015-11-22 1.26          55979.78    1184.27  48067.99  43.61 6683.91
  Small Bags Large Bags XLarge Bags type         year region
1 8603.62     93.25     0           conventional 2015 Albany
2 9408.07     97.49     0           conventional 2015 Albany
3 8042.21    103.14     0           conventional 2015 Albany
4 5677.40    133.76     0           conventional 2015 Albany
5 5986.26    197.69     0           conventional 2015 Albany
6 6556.47    127.44     0           conventional 2015 Albany