## Exercise 1.2

![](https://www.greenbiz.com/sites/default/files/styles/gbz_article_featured/public/images/articles/featured/shutterstock_cargo_ship_donvictorio.jpg?itok=IxnIU4zI)


#### Shipping data

#### Visualize your ships

What data are you looking at?

- Try to plot 

```
shipping %>%
    mutate(lat = lat_start, lon = lon_start) %>% 
    select(lat,lon) %>%
    head(100000) %>% 
leaflet() %>% addTiles() %>% addMarkers(
  clusterOptions = markerClusterOptions()
    )
``` 
- Try to plot

```
greenLeafIcon <- makeIcon(
  iconUrl = "https://static.thenounproject.com/png/368069-200.png",
  iconWidth = 45, iconHeight = 45,
  iconAnchorX = 5, iconAnchorY = 5)

cities %>%
  filter(!is.na(id)) %>% 
  select(lat,lon,city) %>% 
leaflet() %>% addTiles() %>% addMarkers(~lon,~lat,icon = greenLeafIcon,
                                        popup = ~city, label = ~city)
```

#### Transformation exercise

 
- Find most sailed route
- Look at development year by year in top 6


#### Merge exercise

- Try to join the information from ships on 
- Find most sailed routes for danish ships

In [4]:
library(leaflet)
library(readr)
library(dplyr)

ships  <- read_csv("../data/output_ships.csv", col_types = cols())
deaths <- read_csv("../data/output_deaths.csv", col_types = cols())
cities <- read_csv("../data/output_cities.csv", col_types = cols())
load("../data/shipping.rdata")

shipping %>% head

  ship_name         callsign major_cruise_line    date       meters_traveled
1 Carnival Splendor 3EUS     Carnival Cruise Line 2013-10-24 147030.32
2 Carnival Splendor 3EUS     Carnival Cruise Line 2015-12-14      0.00
3 Carnival Splendor 3EUS     Carnival Cruise Line 2017-01-22 304820.65
4 Carnival Splendor 3EUS     Carnival Cruise Line 2014-12-24  14634.55
5 Carnival Splendor 3EUS     Carnival Cruise Line 2014-09-11 230024.99
6 Carnival Splendor 3EUS     Carnival Cruise Line 2008-10-01 450253.87
  lat_start lon_start lat_end lon_end  in_port stopped_minutes num_periods
1 39.1000   -73.8000  40.4207 -73.7793  TRUE   597             16
2 25.3662   -79.9476  25.3662 -79.9476 FALSE     0              1
3 22.9000   -78.8000  25.4292 -79.9503  TRUE   770             29
4 20.6046   -86.9222  20.4845 -86.9793  TRUE   536             11
5 43.2000   -65.8000  44.3935 -63.4628  TRUE   536             14
6 38.9000    12.4000  39.0000   7.2000 FALSE     0              2
  port_city_id                port_city_name port_city_country
1 ChIJrV5odTNjx4kR8GwA-0fk4qk Dover          US
2 ChIJEcHIDqKw2YgRZU-t3XHylv8 Miami          US
3 ChIJyduBuZl8L4kR0lBeSNMB7yo Nassau         BS
4 ChIJJ5PRsO_4To8R_IsBXK68LjQ Cozumel        MX
5 ChIJxesm0LsTRUsRW2dKWg1nkM0 Halifax        CA
6 ChIJX5Ck1i9iGRMRgjSY-bze8Ys Trapani        IT