## Data cleaning at load

One of the most common mistakes seen from proffesionals working with data is that they do not utilize the cleaning capabilities of their loading framework.

###### Adding a few arguments to your load statement will save hours down the line

###### It also has the added benefit of tidying your [ETL pipeline](https://en.wikipedia.org/wiki/Extract,_transform,_load) drastically.


## Exercise 0.2

- play around with the arguments for `read_csv`
- `read_csv(path, argument1 = x, argument2 = y)`
- Note the `type` of each of the columns when running `str(data)`  


![](https://miro.medium.com/max/882/1*eVZyKIcUXOfzPrMTGx7yVw.png)

In [4]:
library(readr)
path <- "../data/exercise.csv"
data <- read_csv(path, col_types = cols())
head(data,6)

  Date       Logical Integer Real  Factor
1 #NNAA      #NNAA   #NNAA   #NNAA #NNAA
2 #NNAA      #NNAA   #NNAA   #NNAA #NNAA
3 01/01/2013 TRUE    74      67.64 Washington.DC
4 01/02/2013 FALSE   32      52.42 Denver
5 01/03/2013 TRUE    20      52.42 Atlanta
6 01/04/2013 TRUE    51      77.96 Seattle

In [5]:
str(data)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	2002 obs. of  5 variables:
 $ Date   : chr  "#NNAA" "#NNAA" "01/01/2013" "01/02/2013" ...
 $ Logical: chr  "#NNAA" "#NNAA" "TRUE" "FALSE" ...
 $ Integer: chr  "#NNAA" "#NNAA" "74" "32" ...
 $ Real   : chr  "#NNAA" "#NNAA" "67.64" "52.42" ...
 $ Factor : chr  "#NNAA" "#NNAA" "Washington.DC" "Denver" ...
 - attr(*, "spec")=
  .. cols(
  ..   Date = col_character(),
  ..   Logical = col_character(),
  ..   Integer = col_character(),
  ..   Real = col_character(),
  ..   Factor = col_character()
  .. )