# Exercise 2.2

### Explore the possible visualization techniques

Each cell contains instructions of how to load a given dataset.

- Try to come up with ways to vizualize the information in the dataframe
- Discuss and draw out your thoughts
- Get inspiration from [plotly](https://plot.ly/r/)


![](https://bayesianbiologist.files.wordpress.com/2014/07/img9.png)

## Load libraries

In [22]:
suppressMessages(library(dplyr))
suppressMessages(library(plotly))
library(readr)

## Data with many measures and 1 dimension 

**Measures** are numerical values that mathematical functions work on. For example, a sales revenue column is a measure because you can find out a total or average the data.

**Dimensions** are qualitative and do not total a sum. For example, sales region, employee, location, or date are dimensions.

In [12]:
df <- iris
head(df)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

## Count data

In [5]:
df <- ggplot2::diamonds %>% count(cut, clarity)
df  %>% head

  cut  clarity n
1 Fair I1      210
2 Fair SI2     466
3 Fair SI1     408
4 Fair VS2     261
5 Fair VS1     170
6 Fair VVS2     69

## Distributional data

Let X be stichastic and
$$
    X \sim N(1,2)
$$

In [11]:
df <- data.frame(X=rnorm(1e5,mean = 1,sd = 2)) 

df %>% head

  X
1 -0.7578137
2 -0.5264159
3 -0.4211599
4 -2.7541735
5  1.2001216
6 -1.5327659

## Matrix data

Maunga Whau (Mt Eden) is one of about 50 volcanos in the Auckland volcanic field. This data set gives topographic information for Maunga Whau on a 10m by 10m grid.

#### Format

A matrix with 87 rows and 61 columns, rows corresponding to grid lines running east to west and columns to grid lines running south to north.

In [15]:
df <- volcano
head(df)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 100  100  101  101  101  101  101  100  100  100   ⋯     107   107   107
[2,] 101  101  102  102  102  102  102  101  101  101   ⋯     108   108   107
[3,] 102  102  103  103  103  103  103  102  102  102   ⋯     109   108   108
[4,] 103  103  104  104  104  104  104  103  103  103   ⋯     109   109   108
[5,] 104  104  105  105  105  105  105  104  104  103   ⋯     110   109   109
[6,] 105  105  105  106  106  106  106  105  105  104   ⋯     110   110   109
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 106   106   105   105   104   104   103
[2,] 107   106   106   105   105   104   104
[3,] 107   107   106   106   105   105   104
[4,] 108   107   107   106   106   105   105
[5,] 108   107   107   107   106   106   105
[6,] 108   108   108   107   107   106   106

## Brain imaging

#### DWI

Diffusion-weighted imaging (DWI) is a form of MR imaging based upon measuring the random Brownian motion of water molecules within a voxel of tissue. In general simplified terms, highly cellular tissues or those with cellular swelling exhibit lower diffusion coefficients. Diffusion is particularly useful in tumor characterization and cerebral ischemia. 

### PWI


Perfusion weighted imaging is a term used to denote a variety of MRI techniques able to give insights into the perfusion of tissues by blood. 


#### Hint use same technique as for the vulcano

In [27]:
pwi=read_csv("../data/brain/pwi.csv",col_names =F, col_types = cols()) %>% as.matrix
dwi=read_csv("../data/brain/dwi.csv", col_names=F, col_types = cols()) %>% as.matrix


head(dwi)

     X1      X2     X3     X4      X5      X6      X7      X8      X9
[1,] -2.6149 23.534 13.074  7.8447  5.2298 10.4600 15.6890  7.8447  5.2298
[2,]  0.0000 13.074 15.689 -2.6149 13.0740  2.6149 18.3040 26.1490 10.4600
[3,] -2.6149 15.689 18.304 13.0740 13.0740 28.7640 33.9940 26.1490  2.6149
[4,] -2.6149 15.689 13.074 10.4600  5.2298 13.0740 15.6890  0.0000  7.8447
[5,] -2.6149 26.149 28.764 28.7640 20.9190 13.0740  7.8447 20.9190 20.9190
[6,] -2.6149 23.534 26.149  5.2298 -2.6149  7.8447  2.6149 23.5340 18.3040
     X10     ⋯ X119    X120    X121    X122    X123    X124    X125    X126
[1,]  5.2298 ⋯ 15.6890 13.0740  2.6149  0.0000 15.6890  7.8447  5.2298  2.6149
[2,] 13.0740 ⋯ -2.6149 18.3040  0.0000  7.8447 18.3040  5.2298 23.5340 39.2230
[3,] 15.6890 ⋯ 13.0740  0.0000  2.6149 10.4600 28.7640 18.3040 20.9190 28.7640
[4,]  5.2298 ⋯ 15.6890 18.3040 13.0740 13.0740 23.5340 10.4600  5.2298 18.3040
[5,] 23.5340 ⋯  5.2298  0.0000 -5.2298 -2.6149  7.8447  7.8447  7.8447  5.2298
[6,]  2.6149 ⋯ 15.6890  7.8447 -2.6149  0.0000 26.1490 28.7640 10.4600 10.4600
     X127    X128
[1,] 23.5340 -2.6149
[2,] 41.8380 -2.6149
[3,] 26.1490 -2.6149
[4,]  7.8447  0.0000
[5,] 18.3040 -2.6149
[6,] 10.4600  0.0000

## Wolf of wall-street

Stock information on Apple Inc, trade date, and Open, Close, Low and High prices in USD. Also included is volume and adjustment factor (Historical price adjustments due to splits and dividend payments).


[stock-price calculation](https://blog.quandl.com/guide-to-stock-price-calculation)

In [20]:
suppressMessages(library(quantmod))
getSymbols("AAPL",src='yahoo')

# basic example of ohlc charts
df <- data.frame(Date=index(AAPL),coredata(AAPL))

df %>% head

[1] "AAPL"

  Date       AAPL.Open AAPL.High AAPL.Low AAPL.Close AAPL.Volume AAPL.Adjusted
1 2007-01-03 12.32714  12.36857  11.70000 11.97143   309579900   7.982585
2 2007-01-04 12.00714  12.27857  11.97429 12.23714   211815100   8.159763
3 2007-01-05 12.25286  12.31428  12.05714 12.15000   208685400   8.101658
4 2007-01-08 12.28000  12.36143  12.18286 12.21000   199276700   8.141665
5 2007-01-09 12.35000  13.28286  12.16429 13.22429   837324600   8.817995
6 2007-01-10 13.53571  13.97143  13.35000 13.85714   738220000   9.239983

### Unemployment

US Census data from 2015

In [31]:
df <- highcharter::unemployment
df %>% head()

  code      name               value
1 us-al-001 Autauga County, AL 4.5
2 us-al-003 Baldwin County, AL 4.7
3 us-al-005 Barbour County, AL 8.2
4 us-al-007 Bibb County, AL    5.9
5 us-al-009 Blount County, AL  4.8
6 us-al-011 Bullock County, AL 6.1

## Multiple time-series on different scales

#### Macro Economics for the US

This dataset was produced from US economic time series data available from http://research.stlouisfed.org/fred2.


##### economics is in "wide" format, economics_long is in "long" format.

![](https://genviz.org/assets/ggplot2/long_v_wide.png)

In [34]:
df <- ggplot2::economics
df %>% head

  date       pce   pop    psavert uempmed unemploy
1 1967-07-01 507.4 198712 12.5    4.5     2944
2 1967-08-01 510.5 198911 12.5    4.7     2945
3 1967-09-01 516.3 199113 11.7    4.6     2958
4 1967-10-01 512.9 199311 12.5    4.9     3143
5 1967-11-01 518.1 199498 12.5    4.7     3066
6 1967-12-01 525.8 199657 12.1    4.8     3018

## Hans Roslings Data visualization


[![Everything Is AWESOME](https://img.youtube.com/vi/jbkSRLYSojo/0.jpg)](https://www.youtube.com/watch?v=jbkSRLYSojo)

In [38]:
library(gapminder)

gapminder %>% head

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134